<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cliente.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @cliente.apellido %>
</p>

<p>
  <b>Nrotarjeta:</b>
  <%= @cliente.nrotarjeta %>
</p>

<%= link_to 'Add productos', add_productos_cliente_path(@cliente) %>|
<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
