<p id="notice"><%= notice %></p>

<p>
  <b>Cod producto:</b>
  <%= @producto.cod_producto %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @producto.descripcion %>
</p>

<p>
  <b>Precio:</b>
  <%= @producto.precio %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
